[Unit]
Description = Prometheus server service

[Service]
User=bin
ExecStart=/opt/prometheus-{{ version }}
SyslogIdentifier=prometheus

[Install]
WantedBy=multi-user.target.linux-amd64/prometheus